/* Fichier: beige.css */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}

section {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #2f4f4f; /* Gris foncé */
    font-family: 'Georgia', serif;
}

form {
    display: flex;
    flex-direction: column;
}

div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #2f4f4f;
    font-family: 'Georgia', serif;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #b38b6d; /* Couleur beige */
    outline: none;
}

select {
    background-color: #fff;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #b38b6d; /* Couleur beige */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8c6e52; /* Couleur beige foncé */
}

button:focus {
    outline: none;
}

input::placeholder {
    font-style: italic;
    color: #888;
}

.error {
    color: red;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 500px) {
    section {
        width: 100%;
        padding: 15px;
    }
}
